<!-- templates/add_patient.html -->

<!DOCTYPE html>
<html>
    <head>
        <title>Add Patient</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
<body>
    <h1>Add Patient</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form method="post">
        <h3>Patient Information</h3>
        <label for="first_name">First Name:</label><br>
        <input type="text" id="first_name" name="first_name" required><br><br>
        <label for="last_name">Last Name:</label><br>
        <input type="text" id="last_name" name="last_name" required><br><br>
        <label for="age">Age:</label><br>
        <input type="number" id="age" name="age" required><br><br>
        <label for="sex">Sex:</label><br>
        <input type="text" id="sex" name="sex" required><br><br>
        <label for="identification_number">Identification Number:</label><br>
        <input type="text" id="identification_number" name="identification_number" required><br><br>
        <label for="phone_number">Phone Number:</label><br>
        <input type="text" id="phone_number" name="phone_number" required><br><br>
        <label for="address">Address:</label><br>
        <input type="text" id="address" name="address" required><br><br>
        <h3>Insurance Information</h3>
        <label for="insurance_number">Insurance Number:</label><br>
        <input type="text" id="insurance_number" name="insurance_number"><br><br>
        <label for="insurance_company">Name of Insurance Company:</label><br>
        <input type="text" id="insurance_company" name="insurance_company"><br><br>
        <label for="insurance_type">Insurance Type (Private/Public):</label><br>
        <input type="text" id="insurance_type" name="insurance_type"><br><br>
        <h3>Next of Kin and Emergency Contact Information</h3>
        <label for="next_of_kin_name">Name of Next of Kin:</label><br>
        <input type="text" id="next_of_kin_name" name="next_of_kin_name" required><br><br>
        <label for="next_of_kin_phone">Phone Number:</label><br>
        <input type="text" id="next_of_kin_phone" name="next_of_kin_phone" required><br><br>
        <label for="next_of_kin_address">Address:</label><br>
        <input type="text" id="next_of_kin_address" name="next_of_kin_address" required><br><br>
        <label for="next_of_kin_relation">Relation to Patient:</label><br>
        <input type="text" id="next_of_kin_relation" name="next_of_kin_relation" required><br><br>
        <h3>Disease Profile</h3>
        <label for="icd10_code_main">ICD 10 Code (Main Diagnosis):</label><br>
        <input type="text" id="icd10_code_main" name="icd10_code_main"><br><br>
        <label for="icd10_main_symptoms">Common Signs and Symptoms:</label><br>
        <textarea id="icd10_main_symptoms" name="icd10_main_symptoms"></textarea><br><br>
        <label for="icd10_code_secondary">ICD 10 Code (Secondary Diagnosis):</label><br>
        <input type="text" id="icd10_code_secondary" name="icd10_code_secondary"><br><br>
        <label for="icd10_secondary_symptoms">Common Signs and Symptoms:</label><br>
        <textarea id="icd10_secondary_symptoms" name="icd10_secondary_symptoms"></textarea><br><br>
        <h3>Medication List</h3>
        <h4>Primary Medication</h4>
        <label for="primary_medication_name">Name:</label><br>
        <input type="text" id="primary_medication_name" name="primary_medication_name"><br><br>
        <label for="primary_medication_purpose">Purpose:</label><br>
        <textarea id="primary_medication_purpose" name="primary_medication_purpose"></textarea><br><br>
        <label for="primary_medication_dosage">Dosage:</label><br>
        <textarea id="primary_medication_dosage" name="primary_medication_dosage"></textarea><br><br>
        <label for="primary_medication_side_effects">Common Side Effects:</label><br>
        <textarea id="primary_medication_side_effects" name="primary_medication_side_effects"></textarea><br><br>
        <label for="primary_medication_drug_interactions">Common Drug-Drug Interactions:</label><br>
        <textarea id="primary_medication_drug_interactions" name="primary_medication_drug_interactions"></textarea><br><br>
        <label for="primary_medication_food_interactions">Common Food-Drug Interactions:</label><br>
        <textarea id="primary_medication_food_interactions" name="primary_medication_food_interactions"></textarea><br><br>
        <h4>Secondary Medication</h4>
        <label for="secondary_medication_name">Name:</label><br>
        <input type="text" id="secondary_medication_name" name="secondary_medication_name"><br><br>
        <label for="secondary_medication_purpose">Purpose:</label><br>
        <textarea id="secondary_medication_purpose" name="secondary_medication_purpose"></textarea><br><br>
        <label for="secondary_medication_dosage">Dosage:</label><br>
        <textarea id="secondary_medication_dosage" name="secondary_medication_dosage"></textarea><br><br>
        <label for="secondary_medication_side_effects">Common Side Effects:</label><br>
        <textarea id="secondary_medication_side_effects" name="secondary_medication_side_effects"></textarea><br><br>
        <label for="secondary_medication_drug_interactions">Common Drug-Drug Interactions:</label><br>
        <textarea id="secondary_medication_drug_interactions" name="secondary_medication_drug_interactions"></textarea><br><br>
        <label for="secondary_medication_food_interactions">Common Food-Drug Interactions:</label><br>
        <textarea id="secondary_medication_food_interactions" name="secondary_medication_food_interactions"></textarea><br><br>
        <input type="submit" value="Add Patient">
    </form>
</body>
</html>
