<!-- templates/registered_patients.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registered Patients</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header class="bg-white shadow py-4">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Beat Care Logo" class="mx-auto w-40">
        <nav class="text-center">
            <ul class="inline-flex space-x-4">
                <li><a href="{{ url_for('admin_landing') }}" class="text-red-500">Home</a></li>
                <li><a href="{{ url_for('add_patient') }}" class="text-red-500">Patient Registration</a></li>
                <li><a href="{{ url_for('account') }}" class="text-red-500">My Account</a></li>
                <li><a href="{{ url_for('registered_patients') }}" class="text-red-500">Registered Patients</a></li>
                <li><a href="{{ url_for('logout') }}" class="text-red-500">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main class="max-w-7xl mx-auto bg-white p-8 mt-6 shadow-lg rounded-lg">
        <h1 class="text-2xl font-bold mb-4">Registered Patients</h1>
        <div class="overflow-x-auto">
            <table class="min-w-full bg-white">
                <thead>
                    <tr>
                        <th class="py-2 px-4 border-b">ID</th>
                        <th class="py-2 px-4 border-b">First Name</th>
                        <th class="py-2 px-4 border-b">Last Name</th>
                        <th class="py-2 px-4 border-b">Age</th>
                        <th class="py-2 px-4 border-b">Sex</th>
                        <th class="py-2 px-4 border-b">Identification Number</th>
                        <th class="py-2 px-4 border-b">Phone Number</th>
                        <th class="py-2 px-4 border-b">Address</th>
						<th class="py-2 px-4 border-b">Date of Admission</th>
                        <th class="py-2 px-4 border-b">Insurance Number</th>
                        <th class="py-2 px-4 border-b">Insurance Company</th>
                        <th class="py-2 px-4 border-b">Insurance Type</th>
                        <th class="py-2 px-4 border-b">Next of Kin Name</th>
                        <th class="py-2 px-4 border-b">Next of Kin Phone</th>
                        <th class="py-2 px-4 border-b">Next of Kin Address</th>
                        <th class="py-2 px-4 border-b">Next of Kin Relation</th>
                        <th class="py-2 px-4 border-b">ICD 10 Main</th>
                        <th class="py-2 px-4 border-b">Main Symptoms</th>
                        <th class="py-2 px-4 border-b">ICD 10 Secondary</th>
                        <th class="py-2 px-4 border-b">Secondary Symptoms</th>
                        <th class="py-2 px-4 border-b">Primary Medication</th>
                        <th class="py-2 px-4 border-b">Primary Medication Purpose</th>
                        <th class="py-2 px-4 border-b">Primary Medication Dosage</th>
                        <th class="py-2 px-4 border-b">Primary Medication Side Effects</th>
                        <th class="py-2 px-4 border-b">Primary Medication Interactions</th>
                        <th class="py-2 px-4 border-b">Secondary Medication</th>
                        <th class="py-2 px-4 border-b">Secondary Medication Purpose</th>
                        <th class="py-2 px-4 border-b">Secondary Medication Dosage</th>
                        <th class="py-2 px-4 border-b">Secondary Medication Side Effects</th>
                        <th class="py-2 px-4 border-b">Secondary Medication Interactions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for patient in patients %}
                    <tr>
                        <td class="py-2 px-4 border-b">{{ patient.id }}</td>
                        <td class="py-2 px-4 border-b">{{ patient.first_name }}</td>
                        <td class="py-2 px-4 border-b">{{ patient.last_name }}</td>
                        <td class="py-2 px-4 border-b">{{ patient.age }}</td>
                        <td class="py-2 px-4 border-b">{{ patient.sex }}</td>
                        <td class="py-2 px-4 border-b">{{ patient.identification_number }}</td>
                        <td class="py-2 px-4 border-b">{{ patient.phone_number }}</td>
                        <td class="py-2 px-4 border-b">{{ patient.address }}</td>
						<td class="py-2 px-4 border-b">{{ patient.date_of_admission }}</td>
                        <td class="py-2 px-4 border-b">{{ patient.insurance_number }}</td>
                        <td class="py-2 px-4 border-b">{{ patient.insurance_company }}</td>
                        <td class="py-2 px-4 border-b">{{ patient.insurance_type }}</td>
                        <td class="py-2 px-4 border-b">{{ patient.next_of_kin_name }}</td>
                        <td class="py-2 px-4 border-b">{{ patient.next_of_kin_phone }}</td>
                        <td class="py-2 px-4 border-b">{{ patient.next_of_kin_address }}</td>
                        <td class="py-2 px-4 border-b">{{ patient.next_of_kin_relation }}</td>
                        <td class="py-2 px-4 border-b">{{ patient.icd10_code_main }}</td>
                        <td class="py-2 px-4 border-b">{{ patient.icd10_main_symptoms }}</td>
                        <td class="py-2 px-4 border-b">{{ patient.icd10_code_secondary }}</td>
                        <td class="py-2 px-4 border-b">{{ patient.icd10_secondary_symptoms }}</td>
                        <td class="py-2 px-4 border-b">{{ patient.primary_medication_name }}</td>
                        <td class="py-2 px-4 border-b">{{ patient.primary_medication_purpose }}</td>
                        <td class="py-2 px-4 border-b">{{ patient.primary_medication_dosage }}</td>
                        <td class="py-2 px-4 border-b">{{ patient.primary_medication_side_effects }}</td>
                        <td class="py-2 px-4 border-b">{{ patient.primary_medication_drug_interactions }}</td>
                        <td class="py-2 px-4 border-b">{{ patient.secondary_medication_name }}</td>
                        <td class="py-2 px-4 border-b">{{ patient.secondary_medication_purpose }}</td>
                        <td class="py-2 px-4 border-b">{{ patient.secondary_medication_dosage }}</td>
                        <td class="py-2 px-4 border-b">{{ patient.secondary_medication_side_effects }}</td>
                        <td class="py-2 px-4 border-b">{{ patient.secondary_medication_drug_interactions }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

    <footer class="bg-white py-4 border-t border-gray-200 text-center">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Beat Care Logo" class="mx-auto w-20">
        <p>Cardiac Portal</p>
        <p>All rights reserved</p>
    </footer>
</body>
</html>
